:root {
  --normal-color: black;
  --normal-back-color: white;
  --low-contrast-back-color: hsl(0, 0%, 92%);
  --avg-contrast-back-color: hsl(0, 0%, 85%);
}

.dark-theme {
  --normal-color: lightgray;
  --normal-back-color: black;
  --low-contrast-back-color: hsl(0, 0%, 10%);
  --avg-contrast-back-color: hsl(0, 0%, 20%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, input, button {
  font: 20px Trebuchet MS, Helvetica, sans-serif;
  color: var(--normal-color);
  transition: .3s;
}

body {
  background-color: var(--normal-back-color);
  padding: 20px;
  height: 100vh;
}

button {
  border: 2px solid var(--normal-color);
  background-color: var(--avg-contrast-back-color);
  padding: 5px 20px;
  border-radius: 10px;
  outline: none;
}

button:hover {
  box-shadow: inset 0 0 9px 1px var(--normal-color);
}

main {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
}

main>header>h1 {
  text-align: center;
}

main>section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
