:root {
  --normal-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, input, button {
  font: 20px Trebuchet MS, Helvetica, sans-serif;
  color: var(--normal-color);
}

body {
  padding: 20px;
  height: 100vh;
}

button {
  border: 2px solid var(--normal-color);
  padding: 5px 20px;
  border-radius: 10px;
  outline: none;
}

main {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
}

main>header>h1 {
  text-align: center;
}

main>section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
